 # Unreal generated folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio
.vs/
*.sln
*.slnx
*.VC.db
*.VC.opendb

# Rider / JetBrains
.idea/

# OS junk
.DS_Store
Thumbs.db

# Unreal plugin generated folders
Plugins/**/Binaries/
Plugins/**/Intermediate/

# Content folder including External Asset Packs
Content
 # Unreal generated folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio
.vs/
*.sln
*.slnx
*.VC.db
*.VC.opendb

# Rider / JetBrains
.idea/

# OS junk
.DS_Store
Thumbs.db

# Unreal plugin generated folders
Plugins/**/Binaries/
Plugins/**/Intermediate/


# Additional Unreal exclusions
*_Build/